extends templates/template

append config
    -pageTitle = "Portafolio"
    -description = "Descripcion de nuestro portafolio"
    -currentPage = "portafolio"

block banner
    img(src="/img/" + currentPage + ".jpg" class="responsive-img")